body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.preloader {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}